<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../link') %>
</head>
<body>
		<div class="animated fadeInRight">
	    <div class="container reset-password">
		    <div class="panel panel-success">
          <div class="panel-heading">
            <h2 class="panel-title">找回密码</h2>
          </div>
          <div class="panel-body">
            <h4 class=""><em>1</em> 填写账户信息</h4>
            <form action="/account/reset_password" method="get" id="findPasswdForm" class="reset-form" role="form">
              <div class="form-group">
                  <input type="email" name="email" id="bindEmail" class="form-control" placeholder="请输入绑定邮箱号">
              </div>
              <div class="form-group row">
                <div class="col-md-7">
                  <input type="text" id="authcode3" class="form-control" placeholder="请输入验证码" />
                </div>
                <div class="col-md-4">
                  <canvas id="canvasCode" class="canvas-code" width="100%" height="35px" onClick="drawCode()"></canvas>
                </div>
              </div>         
              <div class="form-group">
                <button type="submit" id="btnFindPasswd" class="btn btn-primary btn-block">下一步</button>
              </div>
            </form>             
          </div>
        </div>
	    </div>	    
    </div>
  <%- include('../script')%>
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/login.js"></script>
</body>
</html> 
