<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../link') %>
</head>
<body>
		<div class="animated fadeInRight">
	    <div class="container reset-success">
        <div class="panel panel-success">
          <!-- <div class="panel-heading">
            <h2 class="panel-title">密码重置成功</h2>
          </div> -->
          <div class="panel-body text-center">
            <h3 class="success-info">密码重置成功！</h3>
            <p><span id="count">5</span>秒后自动跳转到&nbsp;<a href="#">登录页面</a></p>
          </div>
        </div>
      </div>  	    
    </div>
  <%- include('../script')%>
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/login.js"></script>
  <script>
   $(function(){
    countDown($('#count'), '/signin', 5)
   })
  function countDown($target, router, count){
    var count = count || 5;
    var timer;
    timer = setInterval(function() {
        if (count === 0) {
          clearInterval(timer);
          window.location.href = router;
        } else {
          count--;
          $target.text(count)
        }
      }, 1000)
  }
  </script>	
</body>
</html> 
