<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../link') %>
</head>
<body>
		<div class="animated fadeInRight">
	    <div class="container">
        <div class="panel panel-success m-t-100 min-h-500">
          <div class="panel-heading">
            <h2 class="panel-title">重置密码</h2>
          </div>
          <div class="panel-body">
            <div class="row">
              <ul class="col-md-offset-2 col-md-10 m-t-40 ui-step">
                <li class="col-sm-1 col-md-1 text-center active">
                  <em>1</em>
                  <p>填写绑定邮箱</p>
                </li>
                <li class="col-sm-2 col-md-2 ui-step-line active">
                  <span></span>
                </li>
                <li class="col-sm-1 col-md-1 text-center active">
                  <em>2</em>
                  <p>邮件发送成功</p>
                </li>
                <li class="col-sm-2 col-md-2 ui-step-line active">
                  <span></span>
                </li>
                <li class="col-sm-1 col-md-1 text-center active">
                  <em>3</em>
                  <p>重置密码</p>
                </li>
                <li class="col-sm-2 col-md-2 ui-step-line">
                  <span></span>
                </li>
                <li class="col-sm-1 col-md-1 text-center">
                  <em>4</em>
                  <p>密码重置成功</p>
                </li>
              </ul>
            </div>
            <form action="/account/reset_password" method="get" id="resetPasswdForm" class="reset-form form-horizontal m-t-40" role="form">
              <% if(user && user.error){ %>
              <div class="clearfix">
                <div class="alert alert-danger alert-dismissable">
                  <button class="close" data-dismiss="alert">&times;</button>
                </div>
              </div>
              <%}%>
              <div class="form-group">
                <label for="resetPassword" class="control-label col-md-3">新密码</label>
                <div class="col-md-9">
                  <input type="password" name="user[newpasswd]" id="resetPassword" class="form-control" placeholder="设置新密码">
                  <i class="fa fa-check-circle"></i>
                </div>
                <div class="alert"></div>
              </div>
              <div class="form-group">
                <label for="resetPassword2" class="control-label col-md-3">确认密码</label>
                <div class="col-md-9">
                  <input type="password" id="resetPassword2" class="form-control" placeholder="确认密码">
                  <i class="fa fa-check-circle"></i>
                </div>
                <div class="alert"></div>
              </div>         
              <div class="form-group submit">
                <button type="submit" id="btnResetPasswd" class="btn btn-primary btn-block">提交</button>
              </div>
            </form>             
          </div>
        </div>
      </div>  	    
    </div>
  <%- include('../script')%>
  <script src="/js/login.js"></script>	
</body>
</html> 
