<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../link') %>
</head>
<body>
		<div class="animated fadeInRight">
	    <div class="container">
        <div class="panel panel-success m-t-80 min-h-500">
          <div class="panel-heading">
            <h3 class="panel-title">
              重置密码成功
            </h3>
          </div>
          <div class="panel-body text-center">
            <div class="row">
              <ul class="col-md-offset-2 col-md-10 ui-step m-t-40">
                <li class="col-sm-1 col-md-1 text-center active">
                  <em>1</em>
                  <p>填写绑定邮箱</p>
                </li>
                <li class="col-sm-2 col-md-2 ui-step-line active">
                  <span></span>
                </li>
                <li class="col-sm-1 col-md-1 text-center active">
                  <em>2</em>
                  <p>邮件发送成功</p>
                </li>
                <li class="col-sm-2 col-md-2 ui-step-line active">
                  <span></span>
                </li>
                <li class="col-sm-1 col-md-1 text-center active">
                  <em>3</em>
                  <p>重置密码</p>
                </li>
                <li class="col-sm-2 col-md-2 ui-step-line active">
                  <span></span>
                </li>
                <li class="col-sm-1 col-md-1 text-center active">
                  <em>4</em>
                  <p>密码重置成功</p>
                </li>
              </ul>
            </div>
            <div class="m-t-80">
              <h3><i class="fa fa-check fa-lg green"></i>密码重置成功！</h3>
              <p class="m-t font-18">
                <span id="count">5</span>秒后自动跳转到
                <a href="/signin">登录页面</a>
              </p>
            </div>
          </div>
        </div>
      </div>  	    
    </div>
  <%- include('../script')%>
  <script src="/js/login.js"></script>
  <script>
   $(function(){
      countDown($('#count'), '/signin', 5)
   })
  </script>	
</body>
</html> 
