<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main">
    	<div class="container-fluid">
    		 <div class="page-main col-md-offset-2 col-md-8 ">
          <h2 class="page-header">修改密码</h2>
          <form method="post" action="/user/updatePassword" id="updateForm" class="form-horizontal" role="form">
            <div class="form-group row">
              <label for="oldPasswd" class="col-sm-2 control-label">旧密码：</label>
              <div class="col-sm-6">
                <input type="text" name="user[oldPasswd] "id="oldPasswd" class="form-control">
              </div>
              <div class="col-sm-3 page-tip">
                <i class="fa fa-warning"></i><span class="">请输入旧密码</span>
              </div>
            </div>
            <div class="form-group row">
              <label for="newPasswd" class="col-sm-2 control-label">新密码：</label>
              <div class="col-sm-6">
                <input type="text" name="user[newPasswd]" id="newPasswd" class="form-control">
              </div>
              <div class="col-sm-4 page-tip">
                <i class="fa fa-warning"></i><span class="">请输入6-20位的新密码</span>
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPasswd" class="col-sm-2 control-label">新密码确认：</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="confirmPasswd">
              </div>
              <div class="col-sm-4 page-tip">
                <i class="fa fa-warning"></i><span class="">请再次输入新密码</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-6">
                <button type="submit" id="btnSubmit" class="btn btn-primary btn-block">确认</button>
              </div>
            </div>
          </form>
        </div>
    	</div>
    	<%- include('../footer') %>
    </div>
    <script src="/js/main.js"></script>
		<script src="/js/user.js"></script>
  </body>
</html>
