<!DOCTYPE html>
<html>
<head>
 <!--  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> - 500错误</title>
  <link rel="shortcut icon" href="/img/favicon.ico">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/animate.min.css" rel="stylesheet"> -->
  <%- include('./link') %>
  <style>
    html, body, .wrapper {
      height: 100%;
    }
    .wrapper {
      color: #676a6c;
      text-align: center;
      background: #fff
    }
    .top {
      height: 60%;
      background: gray;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .top h1 {
      font-size: 200px;
      color: #fff;
    }
    .btn-default {
      background: #e6e6e6;
    }
  </style>
</head>
<body>
  <div class="wrapper animated fadeInDown">
    <div class="top">
      <h1>500</h1>
    </div>
    <div class="bottom">
      <h3 class="m-t-40">The server seems to be out of order...</h3>
      <h3 class="">服务器好像出错了...</h3>
      <a href="javascript:history.go(-1)" class="btn btn-default m-t">点击返回</a>
    </div>
  </div>
</body>
</html>
