<aside id="aside" class="sidebar-warp">
	<div class="sidebar">
  	<div class="sidebar-header">
      <a href="index.html" class="brand">
				<i class="fa fa-flag"></i>
				<strong>悦视觉</strong>
			</a>
    </div>
    <div class="divide-line"></div>
    <nav>
      <ul id="accordion" class="accordion">
         <li>
          <div class="link">
            <i class="fa fa-user"></i>账户管理<i class="fa fa-chevron-down"></i>
          </div>
          <ul class="submenu">
            <li><a href="/account" data-href="account_info">账户首页</a></li>
            <li><a href="/account/edit_info" data-href="edit_info">账户编辑</a></li>
            <li><a href="/account/account_security" data-href="account_security">账户安全</a></li>
            <li><a href="/account/registered_partner" data-href="registered_partner">注册我的企业</a></li>
          </ul>
        </li>
        <li>
          <div class="link">
            <i class="fa fa-desktop"></i>我的企业管理
            <i class="fa fa-chevron-down"></i>
          </div>
          <ul class="submenu">
            <li><a href="/partner/partner_info" data-href="partner_info">企业信息</a></li>
            <li><a href="/partner/organize_manage" data-href="organize_manage">组织部门管理</a></li>
            <li><a href="/partner/staff_manage" data-href="staff_manage">员工管理</a></li>
            <li><a href="/partner/agent_register" data-href="agent_register">账户代注册</a></li>
            <!-- <li><a href="#">部门权限管理</a></li>
            <li><a href="#">岗位管理</a></li> -->
          </ul>
        </li>
        <li>
          <div class="link">
            <i class="fa fa-group"></i> 我所管理的商家
            <i class="fa fa-chevron-down"></i>
          </div>
          <ul class="submenu">
            <li><a href="/admin/manage_partner" data-href="manage_partner">商家管理</a></li>
            <li><a href="shop/contract_manage.html">合同管理</a></li>
            <li><a href="shop/privilege_manage.html">权限管理</a></li>
          </ul>
        </li>
        <li>
          <div class="link">
            <i class="fa fa-globe"></i> 系统管理
            <i class="fa fa-chevron-down"></i>
          </div>
          <ul class="submenu">
            <li><a href="system/systemTree.html">系统功能树管理</a></li>
            <li><a href="system/role_manage.html">系统角色管理</a></li>
            <li><a href="system/notice.html">公告信息维护</a></li>
            <li><a href="system/account_manage.html">系统内账户维护</a></li>
          </ul>
        </li>
      </ul>
    </nav>
	</div>   
</aside>