<aside id="aside" class="sidebar-warp">
	<div class="sidebar">
  	<div class="sidebar-header">
      <a href="/" class="brand ellipsis">
				<i class="fa fa-flag"></i>
				<strong><%=user.partner.name%></strong>
			</a>
    </div>
    <div class="divide-line"></div>
    <nav>
      <ul id="accordion" class="accordion">
         <li>
          <div class="link">
            <i class="fa fa-user"></i>账户管理<i class="fa fa-chevron-down"></i>
          </div>
          <ul class="submenu">
            <li><a href="/account" data-href="account_info">账户首页</a></li>
            <li><a href="/account/account_info_edit" data-href="account_info_edit">账户编辑</a></li>
            <li><a href="/account/account_security" data-href="account_security">账户安全</a></li>
            <li><a href="/account/registered_partner" data-href="registered_partner">注册我的企业</a></li>
          </ul>
        </li>
        <li>
          <div class="link">
            <i class="fa fa-home"></i>我的企业管理
            <i class="fa fa-chevron-down"></i>
          </div>
          <ul class="submenu">
            <li><a href="/partner/partner_info" data-href="partner_info">企业首页</a></li>
            <li><a href="/partner/partner_info_edit" data-href="partner_info_edit">企业信息编辑</a></li>
            <li><a href="/partner/organize_manage" data-href="organize_manage">组织部门管理</a></li>
            <li><a href="/partner/staff_manage" data-href="staff_manage">员工管理</a></li>
            <li><a href="/partner/title_manage" data-href="title_manage">岗位管理</a></li>
          </ul>
        </li>
        <li>
          <div class="link">
            <i class="fa fa-sitemap"></i> 我所管理的商家
            <i class="fa fa-chevron-down"></i>
          </div>
          <ul class="submenu">
            <li><a href="/admin/partner_examine" data-href="partner_examine">商家审核</a></li>
            <li><a href="/admin/partner_manage" data-href="partner_manage">商家管理</a></li>
            <li><a href="/admin/contract_manage" data-href="contract_manage">合同管理</a></li>
            <li>
              <a href="/admin/contract_template_manage" data-href="contract_template_manage">合同模板管理</a>
            </li>
          </ul>
        </li>
        <li>
          <div class="link">
            <i class="fa fa-cog"></i> 系统管理
            <i class="fa fa-chevron-down"></i>
          </div>
          <ul class="submenu">
            <li><a href="/system/function_manage" data-href="function_manage">系统功能树管理</a>
            </li>
            <li><a href="/system/role_manage" data-href="role_manage">系统角色管理</a></li>
            <li><a href="/system/notice_manage" data-href="notice_manage">公告信息管理</a></li>
            <li><a href="/system/account_manage" data-href="account_manage">账户管理</a></li>
          </ul>
        </li>
      </ul>
    </nav>
	</div>   
</aside>