  <header id="header" class="header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="javascript:;" id="btnToggle" class="btn-toggle">
          <i class="fa fa-bars"></i>
        </a>
        <form role="search" class="navbar-form" method="post" action="#">
            <div class="form-group">
                <input type="text" placeholder="请输入要查找内容 …" class="form-control" name="top-search" id="top-search">
            </div>
        </form>
      </div>
      <ul class="navbar-nav pull-right"> 
        <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#" aria-expanded="false">
                <i class="fa fa-bell"></i> <span class="label label-warning">8</span>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                <li>
                    <a href="mailbox.html">
                        <div>
                            <i class="fa fa-envelope fa-fw"></i> 您有16条未读消息
                            <!-- <span class="pull-right text-muted small">4分钟前</span> -->
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="profile.html">
                        <div>
                            <i class="fa fa-qq fa-fw"></i> 3条新回复
                            <!-- <span class="pull-right text-muted small">12分钟钱</span> -->
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <div class="text-center link-block">
                        <a class="J_menuItem" href="notifications.html">
                            <strong>查看所有 </strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown personal-center">
            <a href="javascript:;" class="dropdown-toggle" id="personMenu" data-toggle="dropdown">
              <img src="/img/avatar.jpg" alt="头像">
              <span class="username">
                <% if(user){%> <%= user.name %>
                <% }else{ %> 未登录 <% } %>
                </span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="personMenu">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/user/list">个人中心</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">设置</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/user/showUpdate">修改密码</a>
                </li> 
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/logout">退出</a>
                </li>
            </ul>
        </li>
      </ul>
    </div>
  </header>