	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <!--[if lt IE 9]>
      <meta http-equiv="refresh" content="0;/ie" />
  <![endif]-->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/animate.min.css">
	<script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>