  html,
  body {
    height: 100%;
    overflow: hidden
  }
  
  body {
    background: url(../img/login_bg.jpg) fixed;
    background-size: 100% 100%;
  }
  
  .container {
    width: 460px;
    margin: 8% auto;
    padding: 30px;
    background: #fff;
    border-radius: 5px
  }
  
  .page-header {
    margin-top: 0
  }
  
  .form-group {
    position: relative
  }
  
  .form-group .fa-check {
    display: none
  }
  
  .form-group.has-success .fa-check {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 2;
    color: #3c763d;
  }
  
  .alert {
    padding: 5px;
    margin: -10px 0 10px 0;
    text-indent: 2px;
  }
  
  .alert i.fa-warning {
    margin-right: 10px
  }
  
  .form-group.row {
    margin-right: 0
  }
  
  .btn-send {
    padding: 5px 15px
  }
  
  .canvas-code {
    background: #f0f0f0;
    cursor: pointer;
  }
  .has-error .checkbox-inline {
    color: #333;
  }
  .login-footer {
    margin: 10px 0;
  }
  
  .line {
    margin: 0 10px;
  }
  
  .remember {
    margin-top: -5px;
    color: #666;
  }
  
  .remember input {
    margin-right: 5px;
  }
  /*注册协议 模态框*/
  
  .protocol .modal-dialog {
    width: 800px;
  }
  
  .protocol .modal-body {
    height: 500px;
    overflow-y: scroll
  }
