/*========== common class ==========**/
.m-t {
  margin-top: 15px !important;
}
.m-t-20 {
  margin-top: 20px !important;
}
.m-t-40 {
  margin-top: 40px !important;
}
.m-t-50 {
  margin-top: 50px !important;
}
.m-t-80 {
  margin-top: 80px !important;
}
.m-t-100 {
  margin-top: 100px !important;
}
.m-b {
  margin-bottom: 15px !important;
}
.m-b-0 {
  margin-bottom: 0 !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.m-l {
  margin-left: 15px;
}
.m-r {
  margin-right: 15px;
}
.m-horizontal-0 {
  margin-left: 0!important;
  margin-right: 0!important;
}
.p-50 {
  padding: 50px;
}
.p-t {
  padding-top: 15px;
}
.p-t-5 {
  padding-top: 5px;
}
.p-t-10 {
  padding-top: 10px;
}
.p-t-30 {
  padding-top: 30px;
}
.p-b {
  padding-bottom: 15px;
}
.p-l {
  padding-left: 15px;
}
.p-r {
  padding-right: 15px;
}
.no-padding {
  padding: 0;
}
.w-150 {
  width: 150px;
}
.w-170 {
  width: 170px;
}
.w-255 {
  width: 255px;
}
.w-265 {
  width: 265px;
}
.w-270 {
  width: 270px;
}
.w-800 {
  width: 800px;
}
.min-w-300 {
  min-width: 300px;
}
.min-w-400 {
  min-width: 400px;
}
.min-w-500 {
  min-width: 500px;
}
.max-w-200 {
  max-width: 200px;
  margin: auto;
}
.max-w-300 {
  max-width: 300px;
  margin: auto;
}
.max-w-350 {
  max-width: 350px;
  margin: auto;
}
.max-w-400 {
  max-width: 400px;
  margin: auto;
}
.max-w-500 {
  max-width: 500px;
  margin: auto;
}
.max-w-600 {
  max-width: 600px;
  margin: auto;
}
.min-h-300 {
  min-height: 300px;
}
.min-h-400 {
  min-height: 400px;
}
.min-h-500 {
  min-height: 500px;
}
.max-h-300 {
  max-height: 300px;
  overflow-y: auto
}
.max-h-400 {
  max-height: 400px;
  overflow-y: auto
}
.max-h-500 {
  max-height: 500px;
  overflow-y: auto
}
.font-18 {
  font-size: 18px
}
.font-20 {
  font-size: 20px
}
.l-h {
  line-height: 1
}
.l-h-2 {
  line-height: 2
}
.letter-space-s {
  letter-spacing: .4em;
}
.letter-space-m {
  letter-spacing: 1em;
}
.letter-space-l {
  letter-spacing: 1.8em;
}
.text-indent {
  text-indent: 2em
}
.border-top {
  border-top: 1px solid #ccc
}
.border-right {
  border-right: 1px solid #ccc
}
.border-bottom {
  border-bottom: 1px solid #ccc
}
.border-left {
  border-left: 1px solid #ccc
}
.extend-s:hover {
  transform: scale(.5);
  transition: all .5s;
}
.extend-m:hover {
  transform: scale(1.5);
  transition: all .5s;
}
.extend-l:hover {
  transform: scale(2);
  transition: all .5s;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
li.disabled {
  cursor: not-allowed;
}
a.disabled {
  pointer-events: none;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
.white{
  color: white;
}
.gray {
  color: gray;
}
.light-gray {
  color: #ccc;
}
/** custom button*/
.btn-secondary {
  color: #fff !important;
  background-color: #7266ba;
  border-color: #7266ba;
}
.btn-secondary:hover, 
.btn-secondary:focus, 
.btn-secondary:active, 
.btn-secondary.active, 
.open .dropdown-toggle.btn-secondary {
  color: #ffffff !important;
  background-color: #6254b2;
  border-color: #5a4daa;
}
.btn-success {
  color: #fff !important;
  background-color: #27c24c;
  border-color: #27c24c;
}
.btn-success:hover, 
.btn-success:focus, 
.btn-success:active, 
.btn-success.active, 
.open .dropdown-toggle.btn-success {
  color: #ffffff !important;
  background-color: #23ad44;
  border-color: #20a03f;
}
.btn-info {
  color: #fff !important;
  background-color: #23b7e5;
  border-color: #23b7e5;
}
.btn-info:hover, 
.btn-info:focus, 
.btn-info:active, 
.btn-info.active, 
.open .dropdown-toggle.btn-info {
  color: #fff !important;
  background-color: #19a9d5;
  border-color: #189ec8;
}
.btn-warning {
  color: #fff !important;
  background-color: #fad733;
  border-color: #fad733;
}
.btn-warning:hover, 
.btn-warning:focus, 
.btn-warning:active, 
.btn-warning.active, 
.open .dropdown-toggle.btn-warning {
  color: #fff !important;
  background-color: #f9d21a;
  border-color: #f9cf0b;
}
.btn-danger {
  color: #fff !important;
  background-color: #f05050;
  border-color: #f05050;
}
.btn-danger:hover, 
.btn-danger:focus, 
.btn-danger:active, 
.btn-danger.active, 
.open .dropdown-toggle.btn-danger {
  color: #fff !important;
  background-color: #ee3939;
  border-color: #ed2a2a;
}
/** custom panel **/
.panel-primary {
  border-color: #23b7e5;
}
.panel-primary > .panel-heading {
  background-color: #23b7e5;
  border-color: #23b7e5;
}
.panel-info {
  border-color: #23c6c8;
}
.panel-info > .panel-heading {
  background-color: #23c6c8;
  border-color: #23c6c8;
  color: #fff;
}
.panel-warning {
  border-color: #f8ac59;
}
.panel-warning > .panel-heading {
  background-color: #f8ac59;
  border-color: #f8ac59;
  color: #fff;
}
.panel-danger {
  border-color: #ed5565;
}
.panel-danger > .panel-heading {
  background-color: #ed5565;
  border-color: #ed5565;
  color: #fff;
}

.panel-blue {
  border-color: #1c84c6;
}
.panel-blue > .panel-heading {
  background-color: #1c84c6;
  border-color: #1c84c6;
  color: #fff;
}
.panel-green {
  border-color: #009D00;
}
.panel-green > .panel-heading {
  background-color: #009D00;
  border-color: #009D00;
  color: #fff;
}
.panel-gray {
  border-color: gray;
}
.panel-gray > .panel-heading {
  background-color: gray;
  border-color: gray;
  color: #fff;
}
.panel-orange {
  border-color: orange;
}
.panel-orange > .panel-heading {
  background-color: orange;
  border-color: orange;
  color: #fff;
}
.panel-purple {
  border-color: purple;
}
.panel-purple > .panel-heading {
  background-color: purple;
  border-color: purple;
  color: #fff;
}
/**========== global style ==========**/
body {
  background: #f0f3f4
}
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: 0
}
textarea {
  resize: vertical;
}
input[type="file"] {
  display: none
}
.alert > i.fa {
  margin-right: 5px
}
.col-md-3.alert {
  margin-bottom: 0
}
.form-group.row {
  margin-right: 0
}
.has-success .control-label, 
.has-error .control-label {
  color: #333;
}
.control-label i {
  padding-right: 10px;
  color: #f20;
}
.list-group .fa {
  margin-right: 10px;
}
.control-text {
  display: inline-block;
  padding: 7px 0 0;
}
.alert-back {
  width: 80%;
  margin: auto
}
.alert-back .fa {
  margin: 0 10px
}
.alert-dismissable .close {
  top: 0;
  right: 0; 
}
.modal-body.modal-control {
  height: 350px;
  overflow-y: auto;
}
.alert {
  padding: 5px;
  text-indent: 2px;
  margin-bottom: 10px;
}
.breadcrumb {
  background-color: #ddd;
}
.modal-dialog {
  margin-top: 100px;
}
.table > thead > tr > th, 
.table > tbody > tr > td {
  min-width: 50px;
  text-align: center;
  vertical-align: middle;
}
.table > tbody > tr > td {
  padding: 5px;
}
dl.horizontal dt{
  float: left;
  width: 80px;
  text-align: right;
}
dl.horizontal dd {
  margin-left: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dropdown-menu {
  min-width: auto
}
.input-group-btn > .btn {
  padding: 6px 12px;
}
.list-group-item.active,
.list-group-item.active:focus, 
.list-group-item.active:hover {
  background-color: #23b7e5;
  border-color: #23b7e5;
}
/**========== animation start ==========**/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 100
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown
}
/**========== animation end ==========**/

/**========== sidebar start ===========**/
.sidebar-warp {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 240px;
  height: 100%;
  overflow: hidden;
  background: #1c2b36;
}

.sidebar {
  position: absolute;
  width: 260px;
  height: 100%;
  overflow-y: scroll;
}

.sidebar-header {
  padding: 8px 40px;
}

.sidebar-header .brand {
  display: block;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  color: #DFE4ED;
}

.divide-line {
  width: 100%;
  height: 2px;
  margin-bottom: 10px;
  overflow: hidden;
  font-size: 0;
  background-color: #131e26;
}
/** Accordion **/
.accordion {
  width: 100%;
  max-width: 300px;
  margin: 0 auto 20px;
}
.accordion .link {
  display: block;
  position: relative;
  padding: 15px 15px 15px 42px;
  color: #869fb1;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.4s ease;
  cursor: pointer;
}
.accordion .link:hover {
  background: #131e26;
  color: #fff;
}

.accordion .link a {
  color: #869fb1;
}

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 40px;
  left: auto;
  font-size: 10px;
}

.accordion li.open {
  background: #131e26;
  border-left: 4px solid #19a9d5;
  transition: all .4s
}

.accordion li.open .link {
  color: #fff;
}

.accordion li.open i {
  color: #fff;
}

.accordion li.open i.fa-chevron-down {
  transform: rotate(180deg);
}

.accordion li.open .submenu {
  display: block;
}

.submenu {
  display: none;
  font-size: 14px;
}

.submenu a {
  display: block;
  color: #869fb1;
  padding: 12px;
  padding-left: 42px;
  transition: all 0.25s ease;
}

.submenu li.active a,
.submenu a:hover {
  color: #fff;
}
/**========== sidebar end ===========**/

/**========== header start ===========**/

.header {
  position: fixed;
  top: 0;
  left: 240px;
  right: 0;
  height: 50px;
  background: #fff;
  border: 1px solid #e7e7e7;
  z-index: 999
}
.btn-toggle {
  padding: 5px 12px;
  margin: 10px 5px 5px 20px;
  font-size: 14px;
  float: left;
  border-radius: 4px;
  color: #fff;
  background-color: #23b7e5;
  border-color: #23b7e5;
}

.btn-toggle:hover,
.btn-toggle:focus {
  color: #fff;
}

.navbar-notice {
  display: inline-block;
  height: 20px;
  margin-top: 15px;
  margin-left: 20px;
  overflow: hidden;
}
.navbar-notice .title {
  margin-top: 2px;
  color: #23b7e5;
}
.notice-list {
  margin-left: 10px;
  overflow: hidden;
}
.notice-list > li > a {
  display: inline-block;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notice-list > li > em {
  font-style: normal;
  vertical-align: top;
  margin-left: 5px;
  color: #337ab7;
}
.notice-list > li > a:hover {
  text-decoration: underline;
}
.navbar-nav > li {
  display: inline-block;
  margin: 15px 0 0 10px;
}

.navbar-nav > li > a {
  position: relative;
  display: block;
  color: #666;
  font-size: 16px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #f0f0f8;
  padding: 2px 6px;
  margin-right: 15px;
}

.count-info .label {
  position: absolute;
  top: -3px;
  right: -7px;
  line-height: 12px;
  padding: 1px 5px;
}

.navbar-nav .personal-center {
  min-width: 160px;
  margin-top: 8px;
}

.navbar-nav .personal-center > a {
  padding: 5px 10px;
  color: #666;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #f0f0f8;
  background: transparent;
}

.navbar-nav > li > a:hover {
  background: #F1F2F7;
}

.personal-center > a > img {
  width: 25px;
  height: 25px;
}
.personal-center .dropdown-menu {
  width: 90%;
}
.dropdown-menu .divider {
  margin: 0;
}

.dropdown-menu > li > a {
  padding: 5px 20px;
  color: #a4abbb
}
/**========== header end ===========**/

/**========== main start ===========**/

.main {
  position: absolute;
  top: 50px;
  left: 240px;
  right: 0;
  height: calc(100% - 50px);
}

.main > .wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -40px;
}

.warp-footer {
  height: 40px;
}

.wrapper > .container-fluid {
  padding: 20px;
}

@media (max-width: 900px) {
  .navbar-header {
    display: none;
  }
}
/**========== main end ===========**/

/**========== footer start ===========**/

.site-footer {
  position: relative;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  background: #5b6e84
}

.back-top {
  float: right;
  width: 20px;
  height: 20px;
  margin-right: 1%;
  color: #72d0eb;
  background: rgba(127, 221, 248, .5);
  border-radius: 50%;
}

.back-top i {
  color: #2A3542;
}
/**========== footer end ===========**/

/** picture upload preview start **/
.preview-area {
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}
.preview-area > img,
.preview-area > a {
  float: left;
  margin-top: 7px
}
.preview-area .img-remove {
  display: none;
  position: absolute;
  top: -9px;
  right: 12px;
  width: 18px;
  height: 18px;
  background: url(../img/remove.png);
  background-size: cover
}
.preview-area.show:hover .img-remove {
  display: inline;
}
.preview-area .btn-remove,
.preview-area .btn-update  {
  display: none;
  position: absolute;
  top: -9px;
  right: 12px;
}
.attach-upload {
  position: relative;
}
.file-clear {
  display: none;
  position: absolute;
  top: -8px;
  right: 8px;
  z-index: 99;
}
.attach-upload.has-success:hover .file-clear {
  display: block;
}
/** picture upload preview end **/

/** tools start **/
.tools {
  padding: 0 0 5px 15px;
}
.tools > li{
  display: inline-block;
  margin: 0 8px;
  text-align: center;
} 
.tools > li > a{
  display: block;
  color: #337ab7;
  font-size: 12px;
}
.tools > li .fa{
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
}
.tools > li > a:hover .fa{
  background-color: #f0f0f0;
}
.tools > li.disabled .fa,
.tools > li.disabled span {
  color: #666;
}
.tools > li > a > span {
   display: block;
   padding-top: 3px;
}
.tools .fa-refresh{
  color: #b0d93d;
}
.tools .fa-plus-square{
  color: #3699c3;
}
.tools .fa-edit{
  color: #c5ad57;
}   
.tools .fa-remove{
  color: #d75931;
}
/** tools end **/ 

/** ui-step start**/
.ui-step > li{
  padding: 0;
}
.ui-step > li > p{
  margin: 10px -8px 0 0;
  color: #666;
}
.ui-step >li > em {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  border-radius: 50%;
  background: #b5b5b5;
}
.ui-step > .center-line {
  padding-top: 2px
}
.ui-step-line span{
  display: inline-block;
  width: 100%;
  height: 4px;
  background: #b5b5b5
}
.ui-step > .active > em, 
.ui-step > .active > span {
  background: #24c600
}
.ui-step > .active > p{
  color: #24c600;
}
/** ui-step end **/

/** login start **/
.login-page {
  background: url(../img/login_bg.jpg) fixed no-repeat;
  background-size: 100% 100%;
}
  
.login-form {
  width: 430px;
  margin: 8% auto 0;
  padding: 30px;
  background: #fff;
  border-radius: 5px
}
.login-form .page-header {
  margin-top: 0;
}
.login-form .control-label{
  padding-right: 0;
  text-align: left;
}
.login-form .form-group {
  position: relative
}
.login-form .form-group:last-child {
  margin-bottom: 0
}
.form-group .fa-check-circle {
  display: none
}
.form-group.has-success .fa-check-circle {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 25px;
  z-index: 2;
  color: #3c763d;
}
.form-group.submit {
  margin: 15px 0;
}
.input-tip.alert.alert-info,
.input-tip.alert.alert-danger {
  float: right;
  width: 270px;
  margin: 5px 15px 0 0;
}
.check-tip.alert {
  margin: 0;
}
.check-tip.alert.alert-danger{
  margin: 5px 15px 0;
}
.canvas-code {
  margin-left: -10px;
  background: #f0f0f0;
  border-radius: 4px;
  cursor: pointer;
}
.has-error .checkbox-inline {
  color: #333;
}

.line {
  margin: 0 10px;
}

.remember {
  margin-top: -5px;
  color: #666;
}

.remember > .checkbox-inline {
  margin-left: 15px;
}
/**========== login end ==========**/

/** reset password start **/
.reset-form {
  width: 350px;
  margin: 40px auto;
}
.reset-form .alert, 
.reset-form .btn{
  float: right;
  width: 255px;
  margin-bottom: 0
}
.reset-form .alert.alert-info ,
.reset-form .alert.alert-danger {
  margin: 10px 15px 0 0;
}

.reset-success {
  width: 500px;
  margin: 10% auto 0;
}
.reset-success .panel-body {
  padding: 80px 20px;
}
.success-info {
  text-align: center
}
.success-info:before {
  content: '\2714';
  display: inline-block;
  width: 30px;
  height: 30px;
  color: #0f0;
  font-size: 30px
}
.success-info +p {
  font-size: 16px
}

/**========== reset password end ==========**/

/* 账号安全 */
.panel-item {
  padding: 25px 25px 20px 25px;
  border-bottom: 1px solid #eee;
}
.panel-item:hover {
  background: #fbfbfb
}
.panel-item:last-child {
  border-bottom: 0
}
.panel-item .item-title {
  font-size: 18px
}

/* 企业信息 */
.partner-info .dl-horizontal dd{
  font-size: 16px
}
.partner-info .form-group .form-control {
  width: 80%;
}
.check-partner {
  width: 60%;
  margin: auto;
}

/*部门组织管理 */
.modal-body .list-group > li > .check{
  display: none
}
.modal-body .list-group > li.checked > .check{
  display: inline
}