/*========== css reset ==========**/

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: 0
}
textarea {
  resize: vertical;
}
input[type="file"] {
  display: none
}

/**========== global css ==========**/
body {
  background: #f0f3f4
}
.m-t {
  margin-top: 15px;
}
.m-b {
  margin-bottom: 15px;
}
.m-l {
  margin-left: 15px;
}
.m-r {
  margin-right: 15px;
}
.alert i.fa-warning {
  margin-right: 5px
}
.col-md-3.alert {
  margin-bottom: 0
}
.form-group.row {
  margin-right: 0
}
.has-success .control-label, 
.has-error .control-label {
  color: #333;
}
.control-label i {
  padding-right: 10px;
  color: #f20;
}
.list-group .fa {
  margin-right: 10px;
}
.control-text {
  display: inline-block;
  padding: 7px 0 0;
}
.relative {
  position: relative;
}
.disabled {
  pointer-events: none
}
.alert-back {
  width: 80%;
  margin: auto
}
.alert-back .fa {
  margin: 0 10px
}
.alert-dismissable .close {
  top: 0;
  right: 0; 
}
/**========== bootstrap reset ==========**/

.control-label {
  cursor: pointer;
}
.alert {
  padding: 5px;
  text-indent: 2px;
  margin-bottom: 10px;
}
.breadcrumb {
  background-color: #ddd;
}
.modal-dialog {
  margin-top: 100px;
}
.table > thead > tr > th, 
.table > tbody > tr > td {
  min-width: 50px;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}
/**========== animation start ==========**/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 100
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown
}
/**========== animation end ==========**/

/**========== 登录注册start ==========**/
.login-page {
  background: url(../img/login_bg.jpg) fixed no-repeat;
  background-size: 100% 100%;
}
  
.login-form {
  width: 430px;
  margin: 8% auto 0;
  padding: 30px;
  background: #fff;
  border-radius: 5px
}
.login-form .page-header {
  margin-top: 0;
}
.login-form .control-label{
  padding-right: 0
}
.login-form .form-group {
  position: relative
}
.login-form .form-group:last-child {
  margin-bottom: 0
}
.form-group .fa-check {
  display: none
}
.form-group.has-success .fa-check {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 25px;
  z-index: 2;
  color: #3c763d;
}
.form-group.submit {
  margin: 15px 0;
}
.login-form .alert-danger {
  float: right;
  width: 270px;
  margin-top: -10px;
  margin-bottom: 5px;
}
.login-form .alert-back {

}
.agree-check +.alert {
  float: none
}
.agree-check > .checkbox-inline {
  margin-left: 15px;
}
.canvas-code {
  margin-left: -10px;
  background: #f0f0f0;
  border-radius: 4px;
  cursor: pointer;
}
.has-error .checkbox-inline {
  color: #333;
}

.line {
  margin: 0 10px;
}

.remember {
  margin-top: -5px;
  color: #666;
}

.remember > .checkbox-inline {
  margin-left: 15px;
}
/*注册协议 模态框*/

.protocol .modal-dialog {
  width: 800px;
}

.protocol .modal-body {
  height: 500px;
  overflow-y: scroll
}
/**========== 登录注册 end ==========**/

/**========== 重置密码 start ==========**/
.reset-password .panel {
  margin: 8% auto;
  min-height: 450px;
}
.reset-password .page-header {
  border-bottom: 0
}
.reset-form {
  width: 350px;
  margin: 20px auto;
}
.reset-form .alert, .reset-form .btn{
  float: right;
  width: 255px
}
.reset-password .form-group {
  margin-top: 20px;
}
.find-tab > li{
  padding: 0;
}
.find-tab > li > p{
  margin: 10px -15px 0 0;
  color: #666;
}
.find-tab >li > em {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  border-radius: 50%;
  background: #b5b5b5;
}
.find-tab > .center-line {
  padding-top: 2px
}
.center-line span{
  display: inline-block;
  width: 100%;
  height: 4px;
  background: #b5b5b5
}
.find-tab > .active > em, .find-tab > .active > span {
  background: #24c600
}
.find-tab > .active > p{
  color: #24c600;
}
.tip-info p{
  padding-top: 30px;
  font-size: 20px
}
.reset-success {
  width: 500px;
  margin: 10% auto 0;
}
.reset-success .panel-body {
  padding: 80px 20px;
}
.success-info {
  text-align: center
}
.success-info:before {
  content: '\2714';
  display: inline-block;
  width: 30px;
  height: 30px;
  color: #0f0;
  font-size: 30px
}
.success-info +p {
  font-size: 16px
}

/**========== 重置密码 end ==========**/

/**========== 左侧导航 start ===========**/
.sidebar-warp {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 240px;
  height: 100%;
  overflow: hidden;
  background: #1c2b36;
}

.sidebar {
  position: absolute;
  width: 260px;
  height: 100%;
  overflow-y: scroll;
}

.sidebar-header {
  padding: 8px 40px;
}

.sidebar-header .brand {
  display: block;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  color: #DFE4ED;
}

.divide-line {
  width: 100%;
  height: 2px;
  margin-bottom: 10px;
  overflow: hidden;
  font-size: 0;
  background-color: #131e26;
}

/**手风琴菜单**/

.accordion {
  width: 100%;
  max-width: 300px;
  margin: 0 auto 20px;
}

.accordion .link {
  display: block;
  position: relative;
  padding: 15px 15px 15px 42px;
  color: #869fb1;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.4s ease;
  cursor: pointer;
}

.accordion .link:hover {
  background: #131e26;
  color: #fff;
}

.accordion .link a {
  color: #869fb1;
}

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 40px;
  left: auto;
  font-size: 10px;
}

.accordion li.open {
  background: #131e26;
  border-left: 4px solid #19a9d5;
  transition: all .4s
}

.accordion li.open .link {
  color: #fff;
}

.accordion li.open i {
  color: #fff;
}

.accordion li.open i.fa-chevron-down {
  transform: rotate(180deg);
}

.accordion li.open .submenu {
  display: block;
}

.submenu {
  display: none;
  font-size: 14px;
}

.submenu a {
  display: block;
  color: #869fb1;
  padding: 12px;
  padding-left: 42px;
  transition: all 0.25s ease;
}

.submenu li.active a,
.submenu a:hover {
  color: #fff;
}
/**========== 左侧导航 end ===========**/

/**========== 页头区域 start ===========**/

.header {
  position: fixed;
  top: 0;
  left: 240px;
  right: 0;
  height: 50px;
  background: #fff;
  border: 1px solid #e7e7e7;
  z-index: 999
}

.navbar-header {
  width: 400px;
}

.btn-toggle {
  padding: 5px 12px;
  margin: 10px 5px 5px 20px;
  font-size: 14px;
  float: left;
  border-radius: 4px;
  color: #fff;
  background-color: #23b7e5;
  border-color: #23b7e5;
}

.btn-toggle:hover,
.btn-toggle:focus {
  color: #fff;
}

.navbar-form {
  display: inline-block;
}

.navbar-form .form-control {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  font-size: 14px;
  box-shadow: none
}

.navbar-form .form-control:focus {
  box-shadow: none;
  border-bottom: 1px solid #23b7e5;
}

.navbar-nav > li {
  display: inline-block;
  margin: 15px 0 0 10px;
}

.navbar-nav > li > a {
  position: relative;
  display: block;
  color: #666;
  font-size: 16px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #f0f0f8;
  padding: 2px 6px;
  margin-right: 15px;
}

.count-info .label {
  position: absolute;
  top: -3px;
  right: -7px;
  line-height: 12px;
  padding: 1px 5px;
}

.navbar-nav .personal-center {
  min-width: 160px;
  margin-top: 8px;
}

.navbar-nav .personal-center > a {
  padding: 5px 10px;
  color: #666;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #f0f0f8;
  background: transparent;
}

.navbar-nav > li > a:hover {
  background: #F1F2F7;
}

.personal-center > a > img {
  width: 25px;
  height: 25px;
}
.personal-center .dropdown-menu {
  width: 90%;
}
.dropdown-menu .divider {
  margin: 0;
}

.dropdown-menu > li > a {
  padding: 5px 20px;
  color: #a4abbb
}
/**========== 页头区域end ===========**/

/**========== 主体区域start ===========**/

.main {
  position: absolute;
  top: 50px;
  left: 240px;
  right: 0;
  height: calc(100% - 50px);
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -40px;
}

.warp-footer {
  height: 40px;
}

.wrapper > .container-fluid {
  padding: 20px;
}

@media (max-width: 900px) {
  .navbar-header {
    display: none;
  }
}
/**========== 主体区域 end ===========**/

/**========== 页脚区域 start ===========**/

.site-footer {
  position: relative;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  background: #5b6e84
}

.back-top {
  float: right;
  width: 20px;
  height: 20px;
  margin-right: 1%;
  color: #72d0eb;
  background: rgba(127, 221, 248, .5);
  border-radius: 50%;
}

.back-top i {
  color: #2A3542;
}
/**========== 页脚区域 end ===========**/

/**========== 账号信息编辑 start ===========**/
.account-info .dl-horizontal dt {
  width: 75px;
}
.account-info .dl-horizontal dd {
  margin-left: 90px;
}
.avatar-form {
  width: 150px;
}
.preview-area {
  cursor: pointer;
}
.preview-area img {
  display: block;
}
.idcard-form .alert {
  width: 245px;
  margin-left: 33.33333333%;
}
.idcard-form .btn-primary {
  width: 245px;
}
.back-example {
  margin-top: 30px;
}
/**========== 账号信息编辑 end ===========**/

/**========== 账号绑定 start ===========**/
.account-panel .panel-body {
  padding: 0 15px;
}
.panel-item {
  padding: 25px 25px 20px 25px;
  border-bottom: 1px solid #eee;
}
.panel-item:hover {
  background: #fbfbfb
}
.panel-item:last-child {
  border-bottom: 0
}
.panel-item .item-title {
  font-size: 18px
}
.account-modify .panel-body {
  padding: 50px;
}
/**========== 账号绑定 end ===========**/

/**========== 注册我的企业 start ===========**/

.form-group.logo-upload +.alert {
    width: 130px;
    margin-left: 25%;
}
.form-group.license-upload +.alert {
  width: 500px;
  margin-left: 25%;
}
.panel-success {
  min-height: 300px
}
/* 企业信息 */
.partner-info .form-group input,
.partner-info .form-group textarea,
.partner-info .form-group button,
.partner-info .form-group a {
  display: none
}
.partner-info .form-group .form-control {
  width: 80%;
}
.partner-info.edit .form-group a,
.partner-info.edit .form-group button{
  display: inline-block
}
.check-partner {
  width: 60%;
  margin: auto;
}
/**========== 注册我的企业 end ===========**/

/**========== 留言板 start ===========**/

.media-body p{
  font-size: 18px;
  margin: 0
}
.media-avatar span{
  font-size: 16px;
  vertical-align: top;
}
.btn-delete {
  display: none;
  position: absolute;
  top: -4px;
  left: -20px;
  padding: 0;
  font-size: 20px;
}
.btn-delete:hover {
  text-decoration: none
}
.media:hover .btn-delete {
  display: inline-block;
}
/**========== 留言板 end ===========*/

/**========== 部门组织管理 start ===========*/
.organize-tree {
  min-height: 500px;
}
.tools-bar {
  padding: 0 0 5px 15px;
  border-bottom: 1px solid #eee; 
}
.tools-bar li{
  display: inline-block;
  margin: 0 10px;
  text-align: center
} 
.tools-bar li a{
  color: #666;
  font-size: 12px
}
.tools-bar li .fa{
  font-size: 16px;
}
.tools-bar .fa-refresh{
  color: #b0d93d;
}
.tools-bar .fa-plus-square{
  color: #3699c3;
}
.tools-bar .fa-edit{
  color: #c5ad57;
}   
.tools-bar .fa-remove{
  color: #d75931;
}
.organize-modal .modal-dialog {
  width: 300px;
}
.organize-modal .modal-dialog .modal-body {
  height: 240px;
  max-height: 300px;
  overflow-y: auto;
}
/**========== 部门组织管理 end ===========*/