/*样式初始化*/
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none
}
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: 0
}
body {
  background: #f0f3f4
}

/*左侧导航*/
.sidebar-warp{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 240px;
  height: 100%;
  overflow: hidden;
  background: #1c2b36;
}
.sidebar {
  position: absolute;
  width: 260px;
  height: 100%;
  overflow-y: scroll;
}

.sidebar-header {
  padding: 8px 40px;
}

.sidebar-header .brand {
  display: block;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  color: #DFE4ED;
}

.divide-line {
  width: 100%;
  height: 2px;
  margin-bottom: 10px;
  overflow: hidden;
  font-size: 0;
  background-color: #131e26;
}
/*手风琴菜单*/
.accordion {
  width: 100%;
  max-width: 300px;
  margin: 0 auto 20px;
}
.accordion .link {
  display: block;
  position: relative;
  padding: 15px 15px 15px 42px;
  color: #869fb1;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.4s ease;
  cursor: pointer;
}

.accordion .link:hover {
  background: #131e26;
  color: #fff;
}
.accordion .link a{
  color: #869fb1;
}
.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 40px;
  left: auto;
  font-size: 10px;
}
.accordion li.open{
  background: #131e26;
  border-left: 4px solid #19a9d5;
  transition: all .4s 
}
.accordion li.open .link {
  color: #fff;
}
.accordion li.open i {
  color: #fff;
}

.accordion li.open i.fa-chevron-down {
  transform: rotate(180deg);
}
.accordion li.open .submenu {
  display: block;
}
.submenu {
  display: none;
  font-size: 14px;
}

.submenu a {
  display: block;
  color: #869fb1;
  padding: 12px;
  padding-left: 42px;
  transition: all 0.25s ease;
}

.submenu li.active a, .submenu a:hover {
  color: #fff;
}

/*页头区域*/
.header {
  position: fixed;
  top: 0;
  left: 240px;
  right: 0;
  height: 50px;
  background: #fff;
  border: 1px solid #e7e7e7;
  z-index: 999
}
.navbar-header {
  width: 400px;
}
.btn-toggle {
  padding: 5px 12px;
  margin: 10px 5px 5px 20px;
  font-size: 14px;
  float: left;
  border-radius: 4px;
  color: #fff;
  background-color: #23b7e5;
  border-color: #23b7e5;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: #fff;
}
.navbar-form {
  display: inline-block;
}

.navbar-form .form-control {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  font-size: 14px;
  box-shadow: none
}
.navbar-form .form-control:focus {
  box-shadow: none;
  border-bottom: 1px solid #23b7e5;
}
.navbar-nav {
  margin-right: 20px;
}
.navbar-nav > li{
  display: inline-block;
  margin: 15px 0 0 10px;
}
.navbar-nav > li > a{
  position: relative;
  display: block;
  color: #666;
  font-size: 16px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #f0f0f8;
  padding: 2px 6px;
  margin-right: 15px;
}
.count-info .label {
  position: absolute;
  top: -3px;
  right: -7px;
  line-height: 12px;
  padding: 1px 5px;
}

.navbar-nav .personal-center {
  margin-top: 8px;
}
.navbar-nav .personal-center > a{
  padding: 5px 10px;
  color: #666;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #f0f0f8;
  background: transparent;
}
.navbar-nav > li > a:hover{
  background: #F1F2F7;
}
.personal-center > a > img {
  width: 25px;
  height: 25px;
}
/*.personal-center > .dropdown-menu {
  left: -5%;
}*/
.dropdown-menu .divider{
  margin: 0;
}
.dropdown-menu > li > a {
  padding: 5px 20px;
  color: #a4abbb
}

/*主体区域*/
.main {
  position: absolute;
  top: 50px;
  left: 240px;
  right: 0;
  height: calc(100% - 50px);
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -40px;
}
.warp-footer {
  height: 40px;
}
.wrapper > .container-fluid {
  padding: 20px;
}
@media (max-width: 900px){
  .navbar-header {
      display: none;
  }
}
/*页脚区域*/
.site-footer {
  position: relative;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  background: #5b6e84
}
.back-top {
  float: right;
  width: 20px;
  height: 20px;
  margin-right: 1%;
  color: #72d0eb;
  background: rgba(127,221,248,.5);
  border-radius: 50%;
}
.back-top i {
  color: #2A3542;
}    
/*面包屑导航*/
.breadcrumb {
  background-color: #ddd;
}
input[type="file"]{
  display: none
}

/*.page-main-introduction {
    margin: 20px;
    margin-bottom: 0;
    float: left;
  }
  
  .page-introduction-header {
    height: 220px;
    background: #207a94;
    border-radius: 4px 4px 0 0;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    margin: 0;
  }
  
  .page-introduction-dt {
    height: 120px;
    border-radius: 20px;
    background: #63a2b4;
    margin: 0 50px;
  }
  
  .page-introduction-dt img {
    height: 100px;
    margin: 10px;
    border-radius: 20px;
  }
  
  .page-introduction-dd1 {
    font-size: 18px;
    padding-top: 18px;
  }
  
  .page-introduction-dd2 {
    padding-top: 6px;
  }
  
  .page-main-infor1 {
    background: #fff;
  }
  
  .page-main-infor1 li {
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    color: #89817f;
    border-bottom: 1px solid #ebeae6;
  }
  
  .page-main-infor1 li i {
    margin-right: 15px;
  }
  
  .page-main-infor2 {
    margin-top: 20px;
    background: #fff;
  }
  
  .page-main-infor2 li {
    height: 50px;
    line-height: 50px;
    color: #89817f;
  }
  
  .page-infor2-span1 {
    padding: 25px;
  }
  
  .page-main-content {
    padding: 0;
    margin-right: 20px;
    float: left;
    margin-top: 20px;
  }
  
  .page-content-header {
    background: #fff;
    height: 250px;
  }
  
  .page-content-header h3 {
    font-size: 24px;
    color: #1d85a3;
    line-height: 60px;
    ;
    margin: 0;
    padding: 0;
    padding-left: 25px;
  }
  
  .page-header-introduce {
    height: 150px;
    background: #48aecb;
    color: #fff;
    margin-left: 30px;
    line-height: 20px;
    padding: 40px;
  }
  
  .page-content-detailed {
    background: #fff;
    margin-top: 20px;
  }
  
  .page-content-detailed h3 {
    font-size: 24px;
    color: #89817e;
    line-height: 60px;
    ;
    margin: 0;
    padding: 0;
    padding-left: 25px;
  }
  
  .nav-account {
    color: #fff;
  }
  
  .page-main-active {
    background: #eee;
    color: #fff;
  }*/
 
    .page-main {
      background: #fff;
      margin-top: 100px;
      padding: 50px 0;
    } 
    .page-tip {
      padding-top: 7px;
    }
    
    .nav-account {
      color: #fff;
    }
    
    .fa-warning {
      color: red;
      margin-right: 5px;
    }
    .form-group.error input {
      border-color: #d9534f
    }
  .avatar-upload{
    margin-top: 20px;
  }
  .edit-avatar dt{
    font-size: 18px;
    margin-bottom: 15px;
  }
   .password-main {
    background: #fff;
  } 
  .panel-heading{
    margin-bottom: 50px;
  }
  .panel-default{
    padding-bottom: 50px;
  }
  .page-tip {
    padding-top: 7px;
    display: none;
  }
  .fa-warning {
    color: red;
    margin-right: 5px;
  }