<aside id="aside" class="sidebar-warp">
	<div class="sidebar">
  	<div class="sidebar-header">
      <a href="/" class="brand ellipsis">
				<i class="fa fa-flag"></i>
				<strong>悦视觉</strong>
			</a>
    </div>
    <div class="divide-line"></div>
    <nav>
      <ul id="accordion" class="accordion">
        <li>
          <div class="link">
            <i class="fa fa-home"></i> 我的企业
            <i class="fa fa-chevron-down"></i>
          </div>
          <ul class="submenu">
            <li>
              <a href="/user/merchant_info" data-href="merchant_info">企业信息</a>
            </li>
            <li>
              <a href="/user/installment_share" data-href="installment_share">二维码分享</a>
            </li>
            <li>
              <a href="/user/installment_manage" data-href="installment_manage">分期贷管理</a>
            </li>
            <li>
              <a href="/user/financial_contract" data-href="financial_contract">金服合同查看</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
	</div>   
</aside>