<aside id="aside" class="sidebar-warp">
	<div class="sidebar">
  	<div class="sidebar-header">
      <a href="/" class="brand">
				<i class="fa fa-flag"></i>
				<strong><%= user.partner.name%></strong>
			</a>
    </div>
    <div class="divide-line"></div>
    <nav>
      <ul id="accordion" class="accordion">
        <li>
          <div class="link">
            <i class="fa fa-paw"></i>供应商<i class="fa fa-chevron-down"></i>
          </div>
          <ul class="submenu">
            <li><a href="/supplier/brand_manage" data-href="sup_brand_manage">品牌管理</a></li>
            <li><a href="/supplier/wares_manage" data-href="sup_wares_manage">商品管理</a></li>
            <li><a href="/supplier/stock_manage" data-href="sup_stock_manage">库存管理</a></li>
            <li><a href="/supplier/sup_order_manage" data-href="sup_order_manage">订单管理</a></li>
            <li><a href="/supplier/sales_report" data-href="sup_sales_report">销售报表</a></li>
            <li><a href="/supplier/invoice_manage" data-href="sup_invoice_manage">发票管理</a></li>
            <li><a href="/supplier/customer_manage" data-href="sup_customer_manage">顾客管理</a></li>
          </ul>
        </li>
        <li>
          <div class="link">
            <i class="fa fa-sitemap"></i>分销商<i class="fa fa-chevron-down"></i>
          </div>
          <ul class="submenu">
            <li><a href="/distributor/order_manage" data-href="dis_order_manage">订单管理</a></li>
            <li><a href="/distributor/invoice_manage" data-href="dis_invoice_manage">发票管理</a></li>
            <li><a href="/distributor/customer_manage" data-href="dis_customer_manage">顾客管理</a></li>
            <li><a href="/distributor/sales_report" data-href="dis_sales_report">销售报表</a></li>
          </ul>
        </li>
        <li>
          <div class="link">
            <i class="fa fa-desktop"></i>平台管理<i class="fa fa-chevron-down"></i>
          </div>
          <ul class="submenu">
            <li><a href="/platform/brand_manage" data-href="plat_brand_manage">品牌管理</a></li>
            <li><a href="/platform/wares_manage" data-href="plat_wares_manage">商品管理</a></li>
            <li><a href="/platform/marketing_manage" data-href="plat_marketing_manage">营销策略管理</a></li>
            <li><a href="/platform/settlement_manage" data-href="plat_settlement_manage">结算策略管理</a></li>
            <li><a href="/platform/wares_check" data-href="plat_wares_check">商品上架审核</a></li>
            <li><a href="/platform/order_manage" data-href="plat_order_manage">订单管理</a></li>
            <li><a href="/platform/invoice_manage" data-href="plat_invoice_manage">发票管理</a></li>
            <li><a href="/platform/customer_manage" data-href="plat_customer_manage">顾客管理</a></li>
            <li><a href="/platform/operation_report" data-href="plat_operation_report">运营报表</a></li>
          </ul>
        </li>
      </ul>
    </nav>
	</div>   
</aside>